$gradiantFirstColor : rgba(0, 0, 0, 0.90);
$gradiantSecondColor : rgba(66, 65, 65, 0);
$primaryColor:#b70000;
$secondarycolor:black;
$textColor1 :white;
$textColor2 :#595B63;
$textColor3 :#606060;
$backgroundColor1:#202020;